---
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
import "@/styles/global.css";
import Analytics from "@vercel/analytics/astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="author" content="zkjon" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://hangman.zkjon.dev/" />
   
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://hangman.zkjon.dev/og.png" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://hangman.zkjon.dev/og.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-mono">
    <Analytics />
    <slot />
  </body>
</html>